@tailwind base;
@tailwind components;
@tailwind utilities;

/* These utilities extend the default tailwind utilities*/
@layer utilities {
  @variants responsive {
    /* Harsh dark red text shadows */
    .text-shadow-sm {
      text-shadow: 2px 2px 1px #7f1d1d;
    }
    .text-shadow {
      text-shadow: 3px 3px 1px #7f1d1d;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 1px #7f1d1d;
    }
    .text-shadow-lg {
      text-shadow: 6px 6px 1px #7f1d1d;
    }
    .text-shadow-none {
      text-shadow: none;
    }
    .text-shadow-md-yellow {
      text-shadow: 4px 4px 1px #ca8a04;
    }
  }
}
